<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/views/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">
</head>
<body>
<% include partials/header %>
<div class="clearfix"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <ul class="groupsMenu nav nav-pills nav-justified">
            <li><a href="/user/groups">My groups</a></li>
            <li><a href="/user/groups/all">All groups</a></li>
            <li class="active"><a href="/user/groups/admin">Admin</a></li>
            <li><a id="inline" href="#data" class="btn">Add new group</a></li>
        </ul>
        <br>
        <form action="/group/new" method="post" id="data" style="display:none">
            <input type="text" name="title" placeholder="title" class="form-control">
            <br>
            <textarea name="description" id="" cols="30" rows="10" class="form-contorl"></textarea>
            <div class="clearfix"></div>
            <input type="submit" value="Add group" class="btn btn-primary">
        </form>
        <div class="clearfix">
            <% if (groups) {%>
            <% groups.forEach((group)=> {  %>
            <div class="group">
                <div class="col-md-3">
                    <% if (!group.avatar) {%>
                        <img src="../../public/uploads/avatar/avatar.gif" alt="" class="img-responsive">
                    <%} else {%>
                        <img src="<%= group.avatar.path %>" alt="" class="img-responsive">
                    <% } %>
                </div>
                <div class="col-md-7">
                    <h3><a href="/group/id<%= group._id %>"><%= group.title %></a></h3>
                    <p><%= group.description %></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr>
            <% }) %>
            <% } %>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
<script>
    $(document).ready(function() {
        $("a#inline").fancybox();
        console.log("asdasd");
    });
</script>
</body>
</html>
