<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../public/views/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <% include partials/header %>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="well">

                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h1>hi</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>